//@import "../../theme/mixins";

page-stripe-native {
  .StripeNative {
    @include pageContent();
  }
  .shadowBox {
    padding-top: 0 !important;

    &_header {
      background-color: #fafafa;
      padding: 8px;
      font-family: sans-serif;
      font-weight: bold;
      > div {
        display: flex;
        justify-content: center;
      }
      ion-icon {
        margin-right: 12px;
        color: #4c4c4c !important;
      }
    }

    &_content {
      width: 95%;
      margin: auto;
    }
  }

  button.action{
    color: white;
    background-color: #f9ad17 !important;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    span {
      color: white !important;
    }
  }

  .monthYear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button{
      width: 48%
    }
  }

  ion-datetime{
    visibility: hidden;
    width: 0 !important;
    padding: 0 !important;
  }

  .section{
    border-bottom: 1px solid #f8f8f8;
  }

  .special{
    font-weight: bold;
  }

  .acceptedCardTypes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    p{
      margin: 0 !important;
    }
    figure{
      margin: 0 !important;
      //position: absolute;
      //width: 100%;
      //height: 100%;
      text-align: center;
      display: flex;
    }
  }
}
