$font-light: #a4a4a4;
$font-header: #666666;
$font-primary: #6a6a6a;
$button-color: #f9ad17;
$background-color: rgba(0,0,0,0.7);

authbox {
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  transition: all 500ms ease;

  .authBox {
    z-index: 300;
    transition: all 500ms ease;
    &_content {
      @include pageContent();
      max-width: 520px !important;
    }
  }
  .shadowBox {
    text-align: center;
    padding: 0;
    color: $font-primary;

    &_header {
      background-color: #3a99fd;
      padding: 12px 0;
      font-size: 1.2em;
      margin-bottom: 12px;
      p {
        margin: 0;
        font-weight: bold;
        color: white;
      }
    }
    &_content {
      width: 90%;
      margin: auto;
      button{
        color: white;
        background-color: $button-color;
        font-weight: bolder;
        font-size: 1.2em;
        span {
          color: white !important;
        }
      }

      p {
        margin: 5px;
        &:first-child {
          font-weight: bolder;
          font-size: 1.8em;
          color: $font-header;
        }
      }
    }
    &_footer {
      width: 88%;
      margin: 8px auto;
      font-size: 3.2vw;
      font-weight: lighter;
      color: $font-light;
      p {
        margin: 0;
      }
    }
  }
  .shadowBox_content{
    margin: 0 auto;
  }
}
