@import "../components/components";

$information-desktop: "only screen and (min-width : 360px)";


.actionButton {
  color: white;
  background-color: $button-color;
  font-weight: bolder;
  font-size: 1.2em;

  span {
    color: white !important;
  }

  &:hover {
    background-color: #C4860C !important;
  }

  @media #{$information-desktop} {
      height: 5rem !important;
  }
}

.heading {
  font-family: "Montserrat", sans-serif;
  color: #666666 !important;
  font-size: 1.5em;
}

p, ion-label, span {
  color: #3f3f3f;
}

.afterShadowBox{
  width: 98%;
  margin: auto;
  padding-bottom: 100px;
}

.shadowBox {
  padding: 24px 0 !important;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.3) !important;
  overflow: hidden;
  background: white;
  z-index: 100;
}

.appContent {
  width: 90%;
  margin: auto;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  //font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

.dimmer{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

ion-label[stacked]{
  margin-bottom: 4px !important;
}

.cursorPointer{
  cursor: pointer !important;
}

.scroll-content{
  //display: flex;
  //flex-direction: column;

}
