chat-box {
  //flex-shrink: 0;
  .chatBox {
    position: absolute;
    bottom: 8px;
    right: 8px;
    ion-fab{
      position: inherit;
    }
  }
  //
  //.chatBox2{
  //  width: 90%;
  //  margin: auto;
  //  text-align: center;
  //  margin-bottom: 48px;
  //  max-width: 1020px;
  //}
}
