<div class="step_container">
  <p>{{'add_course_s' | translate}}</p>
  <div *ngFor="let c of courses">
    {{c.name}}
  </div>
  <div *ngIf="forms.length > 0">
    <div *ngFor="let form of forms;index as i">
      <form [formGroup]="form">
        <div class="formGr">
          <ion-label stacked>{{'select_course' | translate}}</ion-label>
          <ion-input disabled (tap)="onTap(i)" id="myInput" type="text" formControlName="name"
                     placeholder="{{'start_typing_course' | translate}}" disabled></ion-input>
        </div>
        <div *ngIf="form.valid" class="examDate">
          <div class="removeCourse">
            <button ion-button color="orange" (click)="removeCourse(i)">
              {{'remove_course' | translate}}
            </button>
          </div>
          <div (click)="picker.open()">
            <p *ngIf="form.value.examDate">{{form.value.examDate}}</p>
            <button *ngIf="form.value.examDate === ''" ion-button color="light" (click)="picker.open()">
              {{'add_exam_date' | translate}}
            </button>
            <ion-datetime #picker displayFormat="MMM DD, YYYY" min="{{now}}" max="{{max}}" formControlName="examDate">
            </ion-datetime>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button class="addCourseBtn" *ngIf="forms[courseCount].valid" ion-button block color="light" (click)="addNewCourse()">
    {{('add_couse' | translate) +' '+ (courseCount+2)}}
  </button>
</div>
