step2 {
  .formGr{
    overflow: hidden;
  }

  .addCourseBtn {
    float: right;
  }
  .text-input[disabled]{
    opacity: 1 !important;
  }

  .examDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .removeCourse{
      button {
        background: orange;
        span {
          color: white;
        }
      }
    }
  }

  ion-datetime{
    position: absolute;
    visibility: hidden;
  }
}
